.checkbox {
    height: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;

}

.checkbox__input {
    position: relative;
    opacity: 0;
    z-index: -1;
}

.checkbox__input+.checkbox__label {
    position: relative;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    padding: 0 0 0 50px;
    cursor: pointer;
}

.checkbox__input+.checkbox__label::before {
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    width: 36px;
    height: 20px;
    background-color: #3DDC84;
    border-radius: 20px;
    transition: 300ms;

}

.checkbox__input+.checkbox__label::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 0px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: 300ms;

}

.checkbox__input:checked+.checkbox__label::before {
    background-color: #EBEBEB;
}

.checkbox__input:checked+.checkbox__label::after {
    left: 10px;
}