.footer {
    width: 100%;
    background-color: #202020;
}

.footer__container {
    width: 1140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 79px 0 20px;
}

.footer__info {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #8B8B8B;
    margin: 0;
    text-align: center;
}

.footer__line {
    border-bottom: 1px solid #424242;
    width: 100%;
    margin: 20px auto;
}

.footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
}

.footer__copyright {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    margin: 0;
}

.footer__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.footer__item {
    
    margin-right: 20px;
}

.footer__item:last-child {
    margin-right: 0;
}


.footer__link {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    transition: 300ms;
}

.footer__link:hover {
    cursor: pointer;
    opacity: .7;
    transition: 300ms;
}


@media (max-width: 1280px){
    .footer__container{
        max-width: calc(100% - 140px)
    }
}

@media (max-width: 1020px){
    .footer__container{
        max-width: calc(100% - 74px)
    }
}

@media (max-width: 768px){
    .footer__container {
        padding: 79px 0 20px;
    }
}

@media (max-width: 425px){
    .footer__container {
        max-width: calc(100% - 20px);
        padding: 79px 0 10px;
    }

    .footer__info {
        font-size: 12px;
        line-height: 15px;
    }

    .footer__line {
        margin: 21px auto 30px auto;
    }

    .footer__wrapper {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
    }

    .footer__list {
        flex-direction: column;
    }

    .footer__copyright {
        font-size: 12px;
        line-height: 15px;
        color: #8B8B8B;
    }

    .footer__item {
        margin: 0 0 12px;
    }
    
    .footer__item:last-child {
        margin: 0 0 30px;
    }
}